html {

    height: 100%;
    
    font-family: 'Medieval', 'sans-serif';
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #080808;
    --bg-input:gray;
    --bg-div:rgba(255, 255, 255, 0.733);
}
.atributo, .atributo1, .atributo2{
    padding: 10% 10px;
    text-align: center;
    width: 200px;
    transform: scale3d(-1, 1, 1.0);
    margin-left: -30px;
    color: white;
    
}
.conteudo1:hover .atributo, .conteudo-meio:hover .atributo1,  .conteudo2:hover .atributo3{
    transform: scale3d(1,1,1.0);
    margin: auto;
} 

.atributo .vida, .erro ,.critico ,.dano, .acerto{
    box-sizing: content-box;
    width: 80%;
    background-color:  rgb(255, 253, 253) ;
    border-radius: 20px;
    border: 1px solid black;
    margin: 3% 0;
    
    
}

/* Herói 1 */
.bg-vida{
    width: 35%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
    border: 1px solid green;

}

.bg-erro{
    width: 20%;
    height: 100%;
    background-color: rgb(208, 202, 38);
    border-radius: 20px;
    border: 1px solid rgb(208, 202, 38);
}
.bg-dano{
    width: 18%;
    height: 100%;
    background-color: rgb(191, 26, 26);
    border-radius: 20px;
    border: 1px solid rgb(191, 26, 26);
}
.bg-critico{
    width:40%;
    height: 100%;
    background-color: rgb(26, 81, 191);
    border-radius: 20px;
    border: 1px solid rgb(26, 81, 191);
}
.bg-acerto{
    width:80%;
    height: 100%;
    background-color: rgb(172, 26, 191);
    border-radius: 20px;
    border: 1px solid rgb(172, 26, 191);
}
/* hero2 */




.atributo1 .vida1, .erro1 ,.critico1 ,.dano1, .acerto1{
    box-sizing: content-box;
    width: 80%;
    background-color:  white ;
    border-radius: 20px;
    border: 1px solid black;
    margin: 3% 0;
    
    
}
.bg-vida1{
    width: 35%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
    border: 1px solid green;

}

.bg-erro1{
    width: 20%;
    height: 100%;
    background-color: rgb(208, 202, 38);
    border-radius: 20px;
    border: 1px solid rgb(208, 202, 38);
}
.bg-dano1{
    width: 18%;
    height: 100%;
    background-color: rgb(191, 26, 26);
    border-radius: 20px;
    border: 1px solid rgb(191, 26, 26);
}
.bg-critico1{
    width:40%;
    height: 100%;
    background-color: rgb(26, 81, 191);
    border-radius: 20px;
    border: 1px solid rgb(26, 81, 191);
}
.bg-acerto1{
    width:80%;
    height: 100%;
    background-color: rgb(172, 26, 191);
    border-radius: 20px;
    border: 1px solid rgb(172, 26, 191);
}
/* hero3 */

.atributo2 .vida2, .erro2 ,.critico2 ,.dano2, .acerto2{
    box-sizing: content-box;
    width: 80%;
    background-color:  white ;
    border-radius: 20px;
    border: 1px solid black;
    margin: 3% 0;
    
    
}
.bg-vida2{
    width: 35%;
    height: 100%;
    background-color: green;
    border-radius: 20px;
    border: 1px solid green;

}

.bg-erro2{
    width: 20%;
    height: 100%;
    background-color: rgb(208, 202, 38);
    border-radius: 20px;
    border: 1px solid rgb(208, 202, 38);
}
.bg-dano2{
    width: 18%;
    height: 100%;
    background-color: rgb(191, 26, 26);
    border-radius: 20px;
    border: 1px solid rgb(191, 26, 26);
}

.bg-critico2{
    width:40%;
    height: 100%;
    background-color: rgb(26, 81, 191);
    border-radius: 20px;
    border: 1px solid rgb(26, 81, 191);
}
.bg-acerto2{
    width:80%;
    height: 100%;
    background-color: rgb(172, 26, 191);
    border-radius: 20px;
    border: 1px solid rgb(172, 26, 191);
}