html {

    height: 100%;
    
    font-family: 'Medieval', 'sans-serif';
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #080808;
    --bg-input:gray;
    --bg-div:rgba(255, 255, 255, 0.733);
}
.middle{
    background-color: var(--bg-div);
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border: 10px ridge red;
    
  }
  .classe{
    position: relative;
    display: block;
    color: var(--color-text);
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px auto;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    z-index: 20;
    
  }
  .classe::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .classe1::before{
    width: 0%;
    height: 100%;
  }
  
  .classe1:hover::before{
    width: 100%;
  }
  
  
  .classe2::before{
    width: 100%;
    height: 0%;
  }
  .classe2:hover::before{
    height: 100%;
  }
  
  .classe3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .classe3:hover::before{
    height: 380%;
  }
  
  .classe4::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .classe4:hover::before{
    height: 380%;
  }