
  #range2{
    user-select:none;
  }
  input,
  output {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: Arial, sans-serif;
  }
  
  output {
    background: #ff4500;
    padding: 5px 16px;
    border-radius: 3px;
    color: #fff;
  }
  
  input[type="number"] {
    width: 40px;
    padding: 4px 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
  }
  
  /* input[type="range"]:focus,
  input[type="number"]:focus {
    box-shadow: 0 0 3px 1px #4b81dd;
    outline: none;
  } */
  
  input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 350px;
    height: 20px;
    background: rgba(255, 0, 0, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#2bff00, #00ff15);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    user-select:none;
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #2bff0000;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 rgba(85, 85, 85, 0);
    transition: background .3s ease-in-out;
    user-select:none;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #2bff00;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    user-select:none;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #00ff37;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    user-select:none;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: #00ff22;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: #09ff00;
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: #33ff00;
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    user-select:none;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    user-select:none;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    user-select:none;
  }