#boss{
    transform: rotate(360deg);
    transform: scaleX(-1);
}

/* @font-face {
    font-family: 'Medieval';
    src: url('../fontes/olondon_.otf') format('opentype'), url('../fontes/oldlondon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
} */

html {

    height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #080808;
    --bg-input:gray;
    --bg-div:rgba(255, 255, 255, 0.529);
    --bg-img:url(../img/gifdia.gif);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-image:var(--bg-img);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    transition: 1s all ease;
}


/* Opção - MASCULINO */
.conteudo-inicial{
    display:none;
}
.envelope-container{
    display:flex;
    margin: 0px 15px 0px 25px;
    max-width:100%;
    width:100%;
}

.classes-masculino .conteudo1{
    background-image: url(../sprites/Lance_M.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.classes-masculino .conteudo-meio{
    background-image: url(../sprites/Axe_M.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.classes-masculino .conteudo2{
    background-image: url(../sprites/Sword.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Opção: FEMININO */
#container{
    max-width: 1400px;
    width: 100%;
    height: 500px;
    border: 10px ridge rgba(136, 48, 48, 0.793);
    border-radius: 20px;
    margin:  5% auto;
    display: none;
    background-color: var(--bg-div);
    transition: 1s all ease;
}
 .conteudo1,  .conteudo2,  .conteudo-meio{
    width: 420px;
    height: 65%;
    margin: 90px auto 30px  auto;
    border: 3px solid red;
    border-radius: 10px;
    transform: scale3d(-1, 1, 1.0);
    color: var(--color-text);
}


 .conteudo1{
    background-image: url(../sprites/Lance_F.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
 .conteudo1>p,  .conteudo2>p, .conteudo-meio>p{
    display: none;
    padding: 20px;
    
}


 .conteudo1>h1,  .conteudo2>h1,  .conteudo-meio>h1{
    text-align: center; 
    transform: scale3d(-1.4, 1.0, 1.0);
   
}
 .conteudo1:hover,  .conteudo2:hover,  .conteudo-meio:hover{
    
    transform: scale3d(1.0, 1,1.0);
    background-image: url('');
    transition: all 4s ease;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--bg-div);
}
 .conteudo1:hover>h1,  .conteudo2:hover>h1,  .conteudo-meio:hover>h1{
    transform: scale3d(1.4, 1.0, 1.0);
}
 .conteudo1:hover>atributo,  .conteudo2:hover>atributo1,  .conteudo-meio:hover>atributo2{
    transform: scale3d(1.4, 1.0, 1.0);
}
 .conteudo1:hover p, .conteudo2:hover p, .conteudo-meio:hover p{
    display: block;
    
}  
 .conteudo2{
    background-image: url(../sprites/Axe_F.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

}

 .conteudo-meio{
    background-image:url(../sprites/Bow.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}



/* Css Da área com a foto e a história do personagem */ 
.envelope-historia-personagem{
    width:100%;
    height:100%;
    position:relative;
    display:flex;
    background-color: var(--bg-div);
    margin: 0 auto;
}

.historia-personagem{
    width:100%;
    padding:30px;
    color: var(--color-text);
    margin-top:3%;
}

#opcoes-combate{
    display:none;
}
.imagem-personagem{
    width:100%;
    max-width:300px;
    height:20%;
    position:relative;
    display:block;
    left:31%;
    top:0%;
    
}

.mute{
    color: var(--color-text);
    background-color: var(--bg-div);
    font-size: 1.2em;
    position: absolute;
    top: 0;
}




/* Dark Mode */

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
label{
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 25px;
    background-color: gray;
    float: right;
    border-radius: 100px;
    position: relative;
    z-index:200000;
}
label::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 90px;
    transition: 0.3s;

}
input:checked + label{
    background-color: var(--bg-input)
}
input:checked + label::after{
    left: calc(100% - 5px);
    transform: translateX(-100%);

}
label:active:after {
    width: 45px;
}
